* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 90vw;
    background-color: black;
    /* background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%); */
    margin: 0 auto;
}

/* Header */

nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 1s;
    height: 70px;
    border-radius: 20px;
    padding: 40px 20px;
    background-color: rgb(31, 31, 31);
    box-shadow: 0 0 40px rgb(78, 78, 78) inset;
    width: 90vw;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 110px;
    border-radius: 100%;
}

nav h1 {
    font-size: 2.5rem;
    letter-spacing: 10px;
}

nav .header-btn {
    padding: 10px;
    border-radius: 17px;
    color: black;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    transition: all ease 0.5s;
    border: none;
    outline: none;
    background-color: white;
}

nav .header-btn:active {
    scale: 0.9;
    background-color: #ffffff;
    color: black;
}

nav .header-btn i {
    color: black;
    padding-right: 5px;
}

/* First-Section */

.first-sec {
    margin-top: 13%;
    background: fixed;
}

.hr {
    margin-top: 20px;
}

.first-sec-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.first-sec-container .left {
    border-left: 10px solid grey;
}

.first-sec-container .left h1 {
    margin-left: 10px;
    margin-bottom: 20px;
}

.first-sec-container .left p {
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-left: 10px;
}

.first-sec-container .right .back {
    border-radius: 10px;
    box-shadow: 0 0 40px rgb(128, 128, 128);
}

.first-sec-container .right img {
    border-radius: 10px;
    height: 170px;
}

.contact {
    text-align: center;
    margin-top: 10%;
}

.contact-btn {
    padding: 10px;
    color: black;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bolder;
    transition: all ease 0.5s;
}

.contact-btn:hover {
    color: white;
    background-color: #2b4162;
}

.contact-btn i {
    color: black;
    padding-right: 5px;
}

/* Second-Section */

.second-sec {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 15px white inset;
    border-radius: 10px;
}

.second-sec h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 2rem;
}

.second-sec p {
    /* line-height: 1px; */
    letter-spacing: 0.5px;
}

/* Third-Section */

.main-third {
    /* margin: 20px; */
    padding: 20px;
    /* box-shadow: 0 0 15px white inset; */
    border-radius: 10px;
}

.main-third h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 2rem;
}

.boxes {
    display: flex;
    gap: 20px;
    box-shadow: 0 0 20px grey;
    padding: 20px;
    border-radius: 20px;
}

.box h2 {
    text-align: center;
    font-weight: 2rem;
    margin-bottom: 10px;
}

.box p {
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    border: 2px solid grey;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 8px grey inset;
}

/* Contact-Section */

#contact-sec {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-title {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn-2 {
    display: inline-block;
    background: #ff004f;
    margin-bottom: 10px;
    transition: all ease 1s;
}

.btn.btn-2:active {
    scale: 0.9;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

form .btn-2 {
    padding: 14px 40px;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid pink;
    border-radius: 14px;
}

#msg {
    color: #61b752;
    margin-top: -40px;
    margin-left: 30%;
    display: block;
}

/* Forth-Section */

.forth-sec {
    margin-top: 20px;
    margin-bottom: 20px;
}

.forth-sec h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 2rem;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 95%;
    border-radius: 10px;
    object-fit: cover;
}

.foot {
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #262626;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}

.foot p {
    color: #fff;
    font-weight: 600;
}

.fifth-sec {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fifth-sec h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.video video {
    width: 50%;
}

/* Responsivness */

@media (max-width:1070px) and (min-width:700px) {
    .first-sec-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .first-sec {
        margin-top: 13%;
    }

    .first-sec-container .right img {
        border-radius: 10px;
        height: 150px;
    }

    .first-sec-container .left {
        border-left: 10px solid grey;
        margin-top: 30px;
    }

    .contact {
        text-align: center;
        margin-top: 5%;
    }

    .boxes {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:900px) and (min-width:700px) {
    .first-sec {
        margin-top: 19%;
    }
}

@media(max-width:700px) and (min-width:400px) {
    .first-sec-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .first-sec {
        margin-top: 30%;
    }

    .first-sec-container .right img {
        border-radius: 10px;
        height: 100px;
    }

    .first-sec-container .left {
        border-left: 10px solid grey;
        margin-top: 30px;
    }

    .boxes {
        display: flex;
        flex-direction: column;
    }

    .contact {
        text-align: center;
        margin-top: 5%;
    }

    .contact-title {
        font-size: 28px;
    }

    .first-sec-container .left h1 {
        font-size: 24px;
    }

    .first-sec-container .left p {
        font-size: 13px;
    }

    .nav img {
        width: 70px;
        border-radius: 100%;
    }

    .nav h1 {
        font-size: 2rem;
        letter-spacing: 10px;
        padding-left: 10px;
    }

    .nav {
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 1s;
        height: 20px;
        border-radius: 20px;
        padding: 30px 20px;
        background-color: rgb(31, 31, 31);
        box-shadow: 0 0 40px rgb(78, 78, 78) inset;
        width: 90vw;
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .header-btn {
        padding: 7px;
        border-radius: 17px;
        color: black;
        font-size: 12px;
        font-weight: bolder;
        cursor: pointer;
        transition: all ease 0.5s;
        border: none;
        outline: none;
        background-color: white;
    }

    .second-sec h1 {
        font-size: 1.8rem;
    }

    .second-sec p {
        font-size: 14px;
    }

    .box h2 {
        font-size: 1.8rem;
    }

    .box p {
        font-size: 14px;
    }

    .video video {
        width: 70%;
    }
}

@media(max-width:400px) and (min-width:200px) {
    .first-sec-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .first-sec {
        margin-top: 40%;
    }

    .first-sec-container .right img {
        border-radius: 10px;
        height: 80px;
    }

    .first-sec-container .left {
        border-left: 10px solid grey;
        margin-top: 30px;
    }

    .boxes {
        display: flex;
        flex-direction: column;
    }

    .contact {
        text-align: center;
        margin-top: 5%;
    }

    .contact-title {
        font-size: 26px;
    }

    .first-sec-container .left h1 {
        font-size: 24px;
    }

    .first-sec-container .left p {
        font-size: 13px;
    }

    .nav img {
        width: 70px;
        border-radius: 100%;
    }

    .nav h1 {
        font-size: 2rem;
        letter-spacing: 10px;
        padding-left: 10px;
    }

    nav .header-btn {
        display: none;
    }

    .nav {
        padding: 10px 15px;
    }

    .second-sec h1 {
        font-size: 1.7rem;
    }

    .second-sec p {
        font-size: 12px;
    }

    .box h2 {
        font-size: 1.6rem;
    }

    .box p {
        font-size: 13px;
    }

    .flex {
        font-size: 11px;
    }

    .main-third {
        padding: 20px;
        border-radius: 10px;
    }

    .main-third h1 {
        font-size: 1.7rem;
    }

    .forth-sec h1 {
        font-size: 1.7rem;
    }

    .contact-right form {
        width: 100%;
    }

    .contact-right form input {
        font-size: 15px;
    }

    .contact-right form textarea {
        font-size: 15px;
    }

    .video video {
        width: 70%;
    }

    .area {
        margin-bottom: 17px;
    }
}